<body>
    <p>We are delighted to have delivered your order with {{ seller }}.
        your package has been collected by you. Please share your experience 
        and submit a review using the below link:</p>

<a href="{{ review_url }}"
style="color:#8a2be2 ;background:#2563eb;padding:10px 16px;
text-decoration:none;border-radius:5px;"
>Submit Review</a>
<br>
<p>Powered by FastShip</p>
<hr>
<p><strong>Item:</strong> {{ content }}</p>
<p><strong>Destination:</strong> {{ destination }}</p>
<p>Thank you for shopping with us!</p>
</body>
