<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password | FastShip</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>
    <p>To reset your password, click the button below:</p>
    <a href="{{ reset_url }}" style="color: #8a2be2; background-color: #e6d2f9; padding: 10px 16px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;">Reset Password</a>
    <p>This link will expire in 24 hours.</p>
    <p>Powered by FastShip</p>
</body>
</html>
